In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("../Preprocessing/flightsCleaned.parquet")

In [3]:
airports = pd.DataFrame(df.groupby(df['ORIGIN_AIRPORT'])["FLIGHT_NUMBER"].count())
airports = airports.rename(columns={"FLIGHT_NUMBER":"TOTAL_FLIGHTS"})
airports = airports.sort_values('TOTAL_FLIGHTS',ascending=False)
airports

                TOTAL_FLIGHTS
ORIGIN_AIRPORT
ATL                    375903
ORD                    303888
DFW                    252938
DEN                    211369
LAX                    209631
...                       ...
STC                        77
DLG                        77
GST                        76
AKN                        63
ITH                        30

[322 rows x 1 columns]

In [4]:
airports = airports.reset_index(level=0, drop=False)

# Seleccionamos las 10 primeras filas
aux = airports.loc[0:9]

# Lista con el top 10 de aeropuertos
top_10_airports = list(aux['ORIGIN_AIRPORT'])
top_10_airports

# Filtramos los datos
df = df[df.ORIGIN_AIRPORT.isin(top_10_airports)]
len(df)

2094841